* {
  margin: 0px;
}
header {
  background-color: #f1dfd5;
  padding: 20px;
}
.div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nest {
  display: none;
}
.lnav {
  align-items: center;
  display: flex;
  gap: 80px;
}
nav {
  display: flex;
  gap: 30px;
}
.in {
  border: none;
  background-color: #f1dfd5;
}
.get {
  padding: 8px;
  background-color: black;
  color: white;
  border: none;
}
.section1 {
  background-color: #f1dfd5;
  text-align: center;
  padding: 50px 0px;
}
.gigant {
  font-size: 80px;
}
.text p {
  width: 500px;
  margin: auto;
  padding: 5px;
}
.section1 img:first-child {
  position: relative;
  left: 600px;
  top: 180px;
}
.section1 img:nth-child(2) {
  position: relative;
  right: 240px;
  top: 90px;
}
.section1 img:nth-child(3) {
  position: relative;
  right: 230px;
  top: 170px;
}
.section1 img:nth-child(4) {
  position: relative;
  right: 240px;
  top: 250px;
}
.section1 img:nth-child(5) {
  position: relative;
  left: 540px;
  top: 90px;
}
.section1 img:nth-child(6) {
  position: relative;
  right: 340px;
  top: 0px;
}
.section1 img:nth-child(7) {
  position: relative;
  left: 440px;
  bottom: 50px;
}
.section1 img:nth-child(8) {
  position: relative;
  left: 240px;
  top: 35px;
}
.section1 img:nth-child(9) {
  position: relative;
  left: 440px;
  top: 195px;
}
.section1 img:nth-child(8) {
  position: relative;
  left: 240px;
  top: 35px;
}
.butt {
  padding: 40px;
}
.watch {
  padding: 7px;
  background-color: white;
  border: 2px solid black;
}
.section2 {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0px;
}
.take {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}
.take p {
  width: 500px;
}
.chil {
  width: 460px;
  font-size: 40px;
}
.cont {
  display: flex;
  gap: 30px;
}
.card {
  width: 350px;
  padding: 15px 30px;
  border: 2px solid black;
  border-radius: 15px;
}
.more {
  border: none;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}
.section3 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  align-items: center;
}
.section3 aside {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section4 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  align-items: center;
}
.section4 aside {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section5 {
  background-color: #c3e3fd;
}
.x4 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
}
.chi {
  font-size: 40px;
}
.section6 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 200px;
  padding: 40px 0px;
  align-items: center;
}
.section6 aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section7{
    max-width: 1200px;
    margin: auto;
}
.verx , .vniz{
    display: flex;
    padding: 20px;
}
.section8{
    background-color: #f1dfd5;
}
.obsh{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.surat{
    padding: 20px 0px;
    display: flex;
    gap: 30px;
}
.section9{
    max-width: 1200px;
    margin: auto;
}
footer{
    max-width: 1200px;
    margin: auto;
    padding: 20px 0px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.secta{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.secta input{
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
}
















@media (max-width: 500px) {
  nav,
  .sign {
    display: none;
  }
  .nest {
    display: block;
  }
  .section1 {
    width: 100%;
  }
  .gigant {
    font-size: 30px;
  }
  .text p {
    width: 400px;
    font-size: 22px;
    margin: auto;
    padding: 5px;
  }
  .section1 img {
    display: none;
  }
  .take {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 20px;
  }
  .take p {
    width: 100%;
    font-size: 17px;
  }
  .chil {
    width: 100%;
    font-size: 30px;
  }
  .cont {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .section3 {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .section4 {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
  .section4 img,
  .section3 img {
    width: 100%;
  }
  .section4 aside,
  .section3 aside {
    width: 380px;
  }

  .x4 {
    flex-direction: column;
    gap: 50px;
  }
  .section6 {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .section6 img {
    width: 100%;
  }
  .verx , .vniz{
    flex-direction: column;
    gap: 20px;
}
.surat{
    flex-direction: column;
    padding: 20px;
}
.xast{
    display: none;
}
.section9{
    padding: 25px;
}
.footer{
    flex-direction: column;
    align-items: center;
    align-items: start;
    gap: 40px;
    padding: 20px;
}
}
